body
{
    margin:0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
    /* background-color: midnightblue; */
}

.header
{
position: relative;
text-align: center;
}
.h1_header
{
    margin:0 auto;
    padding: 25px; ;
    color:rgb(43, 40, 40);
    width: auto;
    text-align: center;
    height: auto;
    font-size: 36px;
    /* background-color: black; */
    /* background-image: linear-gradient(to left, #c0c0c0 0, #087bff 100%); */
}

.sidebar{
    color:black;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    border: 1px solid black;
    font-size:16px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px black;
    position:absolute;
    z-index: 1;
    padding-top: 20px;
}



.main
{
    margin-left:200px;
}
/* button{
    background-color: inherit;
    border-radius: 10px;
    color:white;
    padding:10px;
} */

button
{
    border-radius: 20px;
    /* border:2px solid rgba(137, 255, 122, 0.712); */
    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.452);
    border: none;
    cursor: pointer;
}
button:hover{
    box-shadow: -5px 10px 2px rgba(0, 0, 0, 0.452);
}


.bookForm
{
    /* visibility: hidden; */
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -5px 10px 2px rgba(0, 0, 0, 0.452);
    
}

.save_butt
{
    height: 50px;
    width: 110px;
    border-radius: 50px;
    font-size:18px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.save_butt:hover
{    cursor: pointer;
    background-color: rgba(61, 168, 255, 0.712);
    color:white; 
    box-shadow: -5px 10px 2px rgba(0, 0, 0, 0.452);

}

.addBook
{
    text-align: center;
    
}
.add_butt{

    margin: 10px;
    height: 50px;
    width: 125px;
    font-size:18px;
    

}
.add_butt:hover
{
    cursor: pointer;
    background-color: rgba(76, 255, 52, 0.712);
    color:white; 
    /* box-shadow: -5px 10px 2px rgba(0, 0, 0, 0.452); */
}

.clear_butt
{
    width: 125px;
    font-size:18px;
    margin:10px;
    float: right;
    height: 50px;
}
.clear_butt:hover{
    cursor: pointer;
    background-color: rgba(255, 1, 1, 0.712);
    color:white; 
    box-shadow: -5px 10px 2px rgba(0, 0, 0, 0.452);
}
.remove_butt
{
    border: none;
    width: 80px;
    font-size:15px;
    font-weight: bold;
    margin:10px;
    height: 35px;
    color:white;
    background-color: black;
}
.remove_butt:hover
{
    cursor: pointer;
    background-color: rgb(255, 1, 1);
    color:white; 
    box-shadow: -5px 10px 2px rgba(0, 0, 0, 0.452);
}

.cross
{
    float:right;
    width: fit-content;
    height: fit-content;
    border: none;
    box-shadow: 0px 0px 0px black;
    background-color:transparent;
    /* color:rgb(216, 54, 54); */
    font-size:16px;
    border:0;
}
.cross:hover{
    cursor: pointer;
    background-color: rgba(255, 1, 1, 0.712);
    color:white; 
    box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.452);
}
form
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}
input
{
    margin: 5px;
}

#card
{
    display: inline-block;
    border: 1px solid black;
    box-shadow: -5px 10px 2px rgba(0, 0, 0, 0.452);
    margin:5px;
    width: 20rem;
    border-radius: 15px;
    
    
}
.card-content
{
    margin: 10px;
    padding:10px;
    font-size:18px;
    font-weight: bold;
}
.title_card
{
    font-size:24px;
    text-transform: capitalize;
}
.author_card

{
    text-transform: capitalize;
    color:white;
}

.bi-bookmark-check-fill
{
    float:right;
    padding-right:10px;
    font-size:24px;
}
.bookmark-read
{

    color: rgb(20, 255, 20);
    cursor: pointer;
}

.bi-bookmark-check-fill:hover
{
color: rgb(20, 255, 20);
cursor: pointer;
}

.bookmark-read:hover
{

    color: rgb(255, 20, 20);
    cursor: pointer;
}





.container
{
    transition: .5s;
    
}

.container#blur.active
{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 600px; */
    /* padding: 50px; */
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    /* background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%); */
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  #popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  
  .sidebar
  {
      overflow: hidden;
      border-radius: 200px 200px 0px 0px;
      color:white;
  }
  .hole {
    /* position: absolute; */
    /* top: 20px; */
    /* left: 20px; */
    width: 20px;
    height: 20px;
    float:right;
    margin-left:50%;
    margin-right:50%;
    margin-bottom: 10px;
    /* box-shadow: 0 0 0 5000px  linear-gradient(to left, #0e001d 0, #d5dbff 100%); */
    /* content:''; */
    /* position:absolute; */
    border-radius:100%;
 
    box-shadow: 0px 0px 0px 2000px #4e4e4ed8;
  }